code {
    color: black;
}

pre code {
    color: black;
}

/*Alignment tweaks for social sharing buttons*/
/* This gets Google to fall into place */
.social {
    font-size: 1px;
}
 
/* This gets Facebook to fall into place */
.social .fb-like {
    font-size: 1px;
    display: inline-block;
}
 
/* Set an optional width for your button wrappers */
.social span {
    display: inline-block;
    width: 110px;
}
 
/* Adjust the widths individually if you like */
.social .google {
    width: 65px;
}

.social .facebook {
    width: 85px;
}

.social .twitter {
    width: 95px;
}

h2 { padding-bottom: 5px; border-bottom:1px solid #000; color: blue; font-size:16pt}


p { font-size: 12pt}

body { color: #333333; font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif; line-height: 1.42857;}
