<h3>$title$</h3>

<small>发表于 $date$ <a href="$url$"><i class="fa fa-link fa-lg fa-fw"></i></a></small>

<div style="margin-top:1em"></div>

<div style="max-width:60em">
$body$
</div>


<div style="margin-top:3em"></div>

<!-- 添加Disqus评论系统，注意是在每篇博文后添加，不是都添加 
<div style="margin-left:15%; margin-right:15%" id="disqus_thread"></div>
-->
<div style="width=100%">

<div style="float:left; width:45%; margin-left:3%;margin-right:1%" id="disqus_thread">
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//irhawks.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

<!-- 中文用户则添加多说账户 -->
<div style="float:right; width:45%; margin-left:1%; margin-right:3%" id="disqus_thread">
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="$title$" data-title="$title$" data-url="$url$" data-from-position="top"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"irhawks"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
</div>
</div>

<div style="margin-top:1em"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-left">
            标签: $tags$
        </div>
    </div>
</div>

<!--
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
-->
